<!-- vote.html -->
{% extends "poll/base.html" %}

{% block title %}Vote{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-12"></div>
    <div class="col-lg-8 col-md-8 col-sm-12">
        <a type="button" href="{% url 'home' %}"  class="btn btn-outline-primary back-to-home">Back to Home</a>
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <h4>{{ poll.question }}</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadio1" id="option1">
                            <label class="form-check-label" for="option1">
                                {{ poll.option_one }}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadio2" id="option2">
                            <label class="form-check-label" for="option2">
                                {{ poll.option_two }}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadio3" id="option3">
                            <label class="form-check-label" for="option3">
                                {{ poll.option_three }}
                            </label>
                        </div>
                    </div>

                    <hr />

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12"></div>
</div>
{% endblock %}